* {
  box-sizing: border-box;
  font-family: 'Noto Sans';
}

html {
  scroll-behavior: smooth;
}

:root {
  /* COLORS */
  --BGCOLOR: #1f1e1d;
  --FONT-COLOR: rgb(231, 231, 231);
  --CARD-BGCOLOR: #2b2b2b;
  --HEAD-FOOT-COLOR: #252423;
  --ACCENT-COLOR: #27afc7;
  --OFF-WHITE: rgba(231, 231, 231, 0.9);
  --INPUT-BG: rgb(36, 36, 36);
  --INPUT-BORDER: rgb(26, 26, 26);
  --FORM-BG: rgb(41, 42, 43);
  --FORM-FONT: rgb(175, 175, 175);
  --COMPLETE: rgb(90, 183, 99);
  --INCOMPLETE: rgb(211, 65, 61);
}

body {
  background-color: var(--BGCOLOR);
  color: var(--FONT-COLOR);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100%;
}

/*
 *
 * HEADER
 *
 */

.header_nav {
  display: flex;
  /* flex: 1; */
  justify-content: center;
  align-items: center;
}

.header_nav a {
  text-decoration: none;
  margin: 1.5rem;
}

.header_nav p {
  display: inline;
  color: var(--FONT-COLOR);
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  background-color: var(--BGCOLOR);
}

.header_underline_animation {
  display: inline-block;
  position: relative;
}

.header_underline_animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--ACCENT-COLOR);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header_underline_animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header_container {
  display: flex;
  align-items: center;
  margin: 0rem;
  justify-content: center;
  background-color: var(--BGCOLOR);
  padding-top: 1rem;
}

#header_accent_btn p {
  background-color: var(--ACCENT-COLOR);
  color: #252423;
  border-radius: 25px;
  padding: 0.3rem 0.75rem;
  margin-left: -0.25rem;
}

#header_accent_btn p {
  transition: all 0.3s ease-in-out;
}

#header_accent_btn p:hover {
  cursor: pointer;
  background-color: var(--BGCOLOR);
  color: var(--ACCENT-COLOR);
  box-shadow: 0px 0px 10px 5px var(--ACCENT-COLOR);
}

.header_container img {
  max-width: 35%;
  height: auto;
  margin: 0 1.5rem;
}

@media only screen and (max-width: 1200px) {
  .header_container img {
    max-width: 100%;
    height: auto;
  }
}

/*
 *
 * MAIN CONTAINER
 *
 */

.container {
  position: relative;
  min-height: 100vh;
  color: var(--FONT-COLOR);
}

.public_main {
  border-bottom: 3px solid var(--ACCENT-COLOR);
}

/*
 *
 * MAIN CONTENT
 *
 */

.public_main_content {
  position: relative;
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-flow: column;
}

#company_name {
  font-size: 100px;
  margin-bottom: 5rem;
  margin-top: 11rem;
}

/* PRODUCTION ENVIRONMENT */
#company_name span:nth-child(n + 1):nth-child(-n + 5) {
  color: var(--ACCENT-COLOR);
  animation-name: logo_glow_loop;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#company_name span {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 0 0.5rem;
  margin: 0 0.3rem;
  background: var(--BGCOLOR);
  color: var(--FONT-COLOR);
  animation: logo_loop 5s infinite;
}

/* FOR DEV ENVIRONMENT */
/* #company_name span:nth-child(n + 1):nth-child(-n + 5) span {
  color: var(--ACCENT-COLOR);
  animation-name: logo_glow_loop;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: -1;
}

#company_name span span {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 0 0.5rem;
  margin: 0 0.3rem;
  background: var(--BGCOLOR);
  color: var(--FONT-COLOR);
  animation: logo_loop 5s infinite;
  animation-delay: -1;
} */

@keyframes logo_loop {
  0% {
    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.4);
  }
  50% {
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.4);
  }
}

/* PRODUCTION ENVIRONMENT */
#company_name span:nth-child(1) {
  animation-delay: 0s;
}

#company_name span:nth-child(2) {
  animation-delay: 0.2s;
}
#company_name span:nth-child(3) {
  animation-delay: 0.4s;
}
#company_name span:nth-child(4) {
  animation-delay: 0.6s;
}
#company_name span:nth-child(5) {
  animation-delay: 0.8s;
}

#company_name span:nth-child(6) {
  animation-delay: 1s;
}

#company_name span:nth-child(7) {
  animation-delay: 1.2s;
}

#company_name span:nth-child(8) {
  animation-delay: 1.4s;
}

#company_name span:nth-child(9) {
  animation-delay: 1.6s;
}
#company_name span:nth-child(10) {
  animation-delay: 1.8s;
}
#company_name span:nth-child(11) {
  animation-delay: 2s;
}
#company_name span:nth-child(12) {
  animation-delay: 2.2s;
}
#company_name span:nth-child(13) {
  animation-delay: 2.4s;
}

/* FOR DEV ENVIRONMENT */
/* #company_name span:nth-child(1) span {
  animation-delay: 0s;
}

#company_name span:nth-child(2) span {
  animation-delay: 0.2s;
}
#company_name span:nth-child(3) span {
  animation-delay: 0.4s;
}
#company_name span:nth-child(4) span {
  animation-delay: 0.6s;
}
#company_name span:nth-child(5) span {
  animation-delay: 0.8s;
}

#company_name span:nth-child(6) span {
  animation-delay: 1s;
}

#company_name span:nth-child(7) span {
  animation-delay: 1.2s;
}

#company_name span:nth-child(8) span {
  animation-delay: 1.4s;
}

#company_name span:nth-child(9) span {
  animation-delay: 1.6s;
}
#company_name span:nth-child(10) span {
  animation-delay: 1.8s;
}
#company_name span:nth-child(11) span {
  animation-delay: 2s;
}
#company_name span:nth-child(12) span {
  animation-delay: 2.2s;
}
#company_name span:nth-child(13) span {
  animation-delay: 2.4s;
} */

@keyframes logo_glow_loop {
  0% {
    text-shadow: 1px 1px 15px var(--ACCENT-COLOR);
    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.4);
  }
  50% {
    text-shadow: 0px 0px 2px var(--ACCENT-COLOR);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 1px 1px 15px var(--ACCENT-COLOR);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  }
}

.public_main_btns {
  margin-bottom: 8rem;
}

.public_main_btns a {
  padding: 0.6rem 1rem;
  margin: 0 1rem;
  background-color: var(--ACCENT-COLOR);
  text-decoration: none;
  border: none;
  border-radius: 25px;
  color: var(--BGCOLOR);
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
}

.public_main_btns a:hover {
  cursor: pointer;
  background-color: var(--BGCOLOR);
  color: var(--ACCENT-COLOR);
  box-shadow: 0px 0px 10px 5px var(--ACCENT-COLOR);
}

.founder_quote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote_img {
  width: 15%;
  padding-right: 2rem;
}

.founder_quote img {
  width: 100%;
  height: auto;
}

.founder_quote_content {
  font-size: 20px;
  width: 40%;
  padding-left: 2rem;
  border-left: 3px solid var(--OFF-WHITE);
}

.founder_quote p:nth-child(1) {
  font-family: 'Merriweather', serif;
}

.founder_quote p:nth-child(2) {
  font-size: 16px;
}

/*
 *
 * SECTION 1
 *
 */

.public_section_1 {
  background-color: #2f2f2f;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1_info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.who_we_are {
  padding-top: 3rem;
  margin: 0;
  width: 100%;
}

.mission_statement {
  padding-bottom: 5rem;
  margin: 0;
  width: 100%;
}

.section1_title {
  font-size: 40px;
  font-weight: 600;
}

hr {
  left: 0;
  width: 100%;
  border: 1px solid var(--ACCENT-COLOR);
}

.section1_desc {
  margin: 0;
  width: 65%;
}

/*
 *
 * SECTION 2
 *
 */

.public_section_2 {
  position: relative;
  background-color: #181818;
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.section2_info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.founder_name {
  font-size: 20px;
  font-weight: 600;
}

.section_meet_the_team {
  margin-top: 8rem;
  margin-bottom: 1rem;
  font-size: 40px;
  font-weight: 600;
}

.section_meet_the_team p {
  text-align: center;
  margin-top: 0;
}

.public_meet_the_team {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #252423;
  margin: 0 2rem;
  width: 20%;
  padding: 2rem 2rem 0 2rem;
  margin-bottom: 8rem;
  text-align: center;
  box-shadow: 5px 7px 15px 0 rgba(0, 0, 0, 0.3);
}

.public_meet_the_team img {
  width: 85%;
  height: auto;
}

.founder_content {
  width: 85%;
  margin: 0 1.5rem;
}

/*
 *
 * SECTION 3
 *
 */

.public_section_3 {
  background-color: #2f2f2f;
  min-height: 105vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.public_section_3 hr {
  width: 40%;
}

.section3_title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding-top: 4rem;
  width: 45%;
}

.section3_desc {
  margin: 0;
  width: 40%;
  text-align: center;
}

/*
 *
 * TIMELINE
 *
 */

.section3_timeline {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 5rem;
  width: 60%;
}

.timeline_section {
  display: flex;
  margin: 1rem;
}

.timeline_title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 20%;
  font-size: 28px;
  font-weight: 600;
  background-color: #181818;
}

.timeline_desc {
  background-color: #252423;
  margin: 0;
  padding: 1rem;
}

/*
 *
 * SECTION 4
 *
 */

.public_section_4 {
  background-color: #181818;
  min-height: 100vh;
  padding: 1rem 0 0 5rem;
}

.section4_title {
  /* padding-left: 5rem; */
  font-size: 34px;
  font-weight: 600;
}

.section4_desc {
  margin: 0;
  width: 75%;
  margin-bottom: 5rem;
}

/*
 *
 * FOOTER
 *
 */

.footer {
  background-color: var(--BGCOLOR);
  bottom: 0;
  z-index: 1;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
  color: rgb(236, 236, 236);
  font-size: 18px;
  border-top: 3px solid var(--ACCENT-COLOR);
}

/*
 *
 * ARROW ANIMATION
 *
 */

.arrows {
  width: 60px;
  height: 130px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #2994d1;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari & Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari & Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari & Chrome */
}

.arrows:hover {
  cursor: pointer;
}

/*
 *
 * FORM
 *
 */

.form_container {
  display: flex;
  justify-content: center;
  align-self: center;
}

.form_container a {
  text-decoration: none;
  color: var(--ACCENT-COLOR);
}

.player_form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-self: center;
  margin: 1rem 2rem;
  padding: 2rem;
  background-color: rgb(31, 30, 29);
  width: 60%;
}

.form_header {
  border-bottom: 2px solid var(--ACCENT-COLOR);
}

.form_header p {
  font-size: 28px;
  font-weight: 600;
}

.form_content_title {
  margin: 0;
  padding: 1rem;
  width: 100%;
  font-size: 24px;
  text-align: left;
  cursor: pointer;
  color: var(--FONT-COLOR);
  background-color: rgb(47, 47, 47);
  border: none;
  border-bottom: 2px solid var(--INCOMPLETE);
}

.form_content_container {
  margin: 1rem 0;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.5);
}

.form_content_collapsible {
  background-color: rgb(51, 51, 51);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.form_content {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.active,
.form_content_title:hover {
  background-color: rgb(37, 36, 35);
}

.form_content input {
  padding: 0.5rem;
  margin: 0.1rem 1rem 1rem 1rem;
  font-size: 20px;
  color: var(--FONT-COLOR);
  background: rgb(31, 30, 29);
  border: 1px solid var(--INPUT-BORDER);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.form_content input:focus {
  outline: none;
  background-color: hsl(0, 7%, 20%);
}

.input_area {
  display: flex;
  flex-flow: column;
}

.input_area label {
  margin-left: 1rem;
  font-size: 18px;
  color: lightgray;
}

.checkbox_container {
  margin: 1rem 0 2rem 0;
}

.checkbox_container_content {
  margin: 1rem 0;
}

.checkbox_container_content input {
  margin-right: 0.5rem;
}

.submit_btn {
  align-self: flex-end;
  padding: 0.6rem 1rem;
  border: none;
  background-color: var(--ACCENT-COLOR);
  border-radius: 25px;
  color: var(--BGCOLOR);
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.1s ease-in-out;
}

.submit_btn:hover {
  cursor: pointer;
  background-color: var(--BGCOLOR);
  color: var(--ACCENT-COLOR);
  box-shadow: 0px 0px 10px 2px var(--ACCENT-COLOR);
}

.submit_btn_disabled {
  align-self: flex-end;
  padding: 0.6rem 1rem;
  border: none;
  background-color: #3d3d3d;
  border-radius: 25px;
  color: var(--BGCOLOR);
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 18px;
}

.complete {
  border-bottom: 4px solid var(--COMPLETE);
  background-color: #252423;
}

.section_save_btn {
  margin: 0 2rem 2rem 2rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--ACCENT-COLOR);
  border-radius: 25px;
  color: var(--BGCOLOR);
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.1s linear;
}

.section_save_btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.form_content .input_error {
  border-bottom: 1px solid var(--INCOMPLETE);
  transition: 0.1s;
  animation: animate_error_border linear;
}

@keyframes animate_error_border {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 50%;
    height: 0;
  }
  100% {
    width: 100%;
    height: 0;
  }
}

/* MODAL */
#portal .container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

.modal_header {
  width: 100%;
}

.modal .modal_header p {
  font-size: 28px;
  font-weight: 500;
}

.container .modal a {
  text-decoration: none;
  margin: 1rem;
  font-size: 18px;
}

.modal p {
  font-size: 18px;
}

.modal_content {
  width: 100%;
  padding: 4rem 0;
  background-color: var(--BGCOLOR);
}

.modal_socials {
  margin-top: 2rem;
}

.modal_discord {
  margin: 1rem;
  padding: 0.5rem 1rem;
  color: rgb(88, 101, 242);
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.5);
  font-weight: 600;
  letter-spacing: 2px;
}

.modal_twitch {
  margin: 1rem;
  padding: 0.5rem 1rem;
  color: rgb(119, 44, 232);
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.5);
  font-weight: 600;
  letter-spacing: 2px;
}

.container .modal {
  z-index: 1;
  width: 35%;
  height: 37%;
  background: var(--INPUT-BG);
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
  border-bottom: 5px solid var(--ACCENT-COLOR);
}

.modal button {
  font-size: 20px;
  padding: 0.5rem 1rem;
  margin: 1rem;
  background-color: var(--INPUT-BG);
  color: var(--ACCENT-COLOR);
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.5);
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  letter-spacing: 2px;
}

.modal_button {
  margin-top: 1rem;
}

@keyframes animate {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
