* {
  box-sizing: border-box;
  font-family: 'Noto Sans';
}

html {
  scroll-behavior: smooth;
}

:root {
  /* COLORS */
  --BGCOLOR: #1f1e1d;
  --FONT-COLOR: rgb(231, 231, 231);
  --CARD-BGCOLOR: #2b2b2b;
  --HEAD-FOOT-COLOR: #252423;
  --ACCENT-COLOR: #27afc7;
  --OFF-WHITE: rgba(231, 231, 231, 0.9);
}

body {
  background-color: var(--BGCOLOR);
  color: var(--FONT-COLOR);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100%;
}

/*
 *
 * HEADER
 *
 */

.header_nav {
  display: flex;
  /* flex: 1; */
  justify-content: center;
  align-items: center;
}

.header_nav a {
  text-decoration: none;
  margin: 1.5rem;
}

.header_nav p {
  display: inline;
  color: var(--FONT-COLOR);
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  background-color: var(--BGCOLOR);
}

.header_underline_animation {
  display: inline-block;
  position: relative;
}

.header_underline_animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--ACCENT-COLOR);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header_underline_animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header_container {
  display: flex;
  align-items: center;
  margin: 0rem;
  justify-content: center;
  background-color: var(--BGCOLOR);
  padding-top: 1rem;
}

#header_accent_btn p {
  background-color: var(--ACCENT-COLOR);
  color: #252423;
  border-radius: 25px;
  padding: 0.3rem 0.75rem;
  margin-left: -0.25rem;
}

#header_accent_btn p {
  transition: all 0.3s ease-in-out;
}

#header_accent_btn p:hover {
  cursor: pointer;
  background-color: var(--BGCOLOR);
  color: var(--ACCENT-COLOR);
  box-shadow: 0px 0px 10px 5px var(--ACCENT-COLOR);
}

.header_container img {
  max-width: 35%;
  height: auto;
  margin: 0 1.5rem;
}

@media only screen and (max-width: 1200px) {
  .header_container img {
    max-width: 100%;
    height: auto;
  }
}

/*
 *
 * MAIN CONTAINER
 *
 */

.container {
  position: relative;
  min-height: 100vh;
  color: var(--FONT-COLOR);
}

.public_main {
  border-bottom: 3px solid var(--ACCENT-COLOR);
}

/*
 *
 * MAIN CONTENT
 *
 */

.public_main_content {
  position: relative;
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-flow: column;
}

#company_name {
  font-size: 100px;
  margin-bottom: 5rem;
  margin-top: 11rem;
}

/* PRODUCTION ENVIRONMENT */
#company_name span:nth-child(n + 1):nth-child(-n + 5) {
  color: var(--ACCENT-COLOR);
  animation-name: logo_glow_loop;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#company_name span {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 0 0.5rem;
  margin: 0 0.3rem;
  background: var(--BGCOLOR);
  color: var(--FONT-COLOR);
  animation: logo_loop 5s infinite;
}

/* FOR DEV ENVIRONMENT */
/* #company_name span:nth-child(n + 1):nth-child(-n + 5) span {
  color: var(--ACCENT-COLOR);
  animation-name: logo_glow_loop;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: -1;
}

#company_name span span {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 0 0.5rem;
  margin: 0 0.3rem;
  background: var(--BGCOLOR);
  color: var(--FONT-COLOR);
  animation: logo_loop 5s infinite;
  animation-delay: -1;
} */

@keyframes logo_loop {
  0% {
    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.4);
  }
  50% {
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.4);
  }
}

/* PRODUCTION ENVIRONMENT */
#company_name span:nth-child(1) {
  animation-delay: 0s;
}

#company_name span:nth-child(2) {
  animation-delay: 0.2s;
}
#company_name span:nth-child(3) {
  animation-delay: 0.4s;
}
#company_name span:nth-child(4) {
  animation-delay: 0.6s;
}
#company_name span:nth-child(5) {
  animation-delay: 0.8s;
}

#company_name span:nth-child(6) {
  animation-delay: 1s;
}

#company_name span:nth-child(7) {
  animation-delay: 1.2s;
}

#company_name span:nth-child(8) {
  animation-delay: 1.4s;
}

#company_name span:nth-child(9) {
  animation-delay: 1.6s;
}
#company_name span:nth-child(10) {
  animation-delay: 1.8s;
}
#company_name span:nth-child(11) {
  animation-delay: 2s;
}
#company_name span:nth-child(12) {
  animation-delay: 2.2s;
}
#company_name span:nth-child(13) {
  animation-delay: 2.4s;
}

/* FOR DEV ENVIRONMENT */
/* #company_name span:nth-child(1) span {
  animation-delay: 0s;
}

#company_name span:nth-child(2) span {
  animation-delay: 0.2s;
}
#company_name span:nth-child(3) span {
  animation-delay: 0.4s;
}
#company_name span:nth-child(4) span {
  animation-delay: 0.6s;
}
#company_name span:nth-child(5) span {
  animation-delay: 0.8s;
}

#company_name span:nth-child(6) span {
  animation-delay: 1s;
}

#company_name span:nth-child(7) span {
  animation-delay: 1.2s;
}

#company_name span:nth-child(8) span {
  animation-delay: 1.4s;
}

#company_name span:nth-child(9) span {
  animation-delay: 1.6s;
}
#company_name span:nth-child(10) span {
  animation-delay: 1.8s;
}
#company_name span:nth-child(11) span {
  animation-delay: 2s;
}
#company_name span:nth-child(12) span {
  animation-delay: 2.2s;
}
#company_name span:nth-child(13) span {
  animation-delay: 2.4s;
} */

@keyframes logo_glow_loop {
  0% {
    text-shadow: 1px 1px 15px var(--ACCENT-COLOR);
    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.4);
  }
  50% {
    text-shadow: 0px 0px 2px var(--ACCENT-COLOR);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 1px 1px 15px var(--ACCENT-COLOR);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  }
}

.public_main_btns {
  margin-bottom: 8rem;
}

.public_main_btns a {
  padding: 0.6rem 1rem;
  margin: 0 1rem;
  background-color: var(--ACCENT-COLOR);
  text-decoration: none;
  border: none;
  border-radius: 25px;
  color: var(--BGCOLOR);
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
}

.public_main_btns a:hover {
  cursor: pointer;
  background-color: var(--BGCOLOR);
  color: var(--ACCENT-COLOR);
  box-shadow: 0px 0px 10px 5px var(--ACCENT-COLOR);
}

.founder_quote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote_img {
  width: 15%;
  padding-right: 2rem;
}

.founder_quote img {
  width: 100%;
  height: auto;
}

.founder_quote_content {
  font-size: 20px;
  width: 40%;
  padding-left: 2rem;
  border-left: 3px solid var(--OFF-WHITE);
}

.founder_quote p:nth-child(1) {
  font-family: 'Merriweather', serif;
}

.founder_quote p:nth-child(2) {
  font-size: 16px;
}

/*
 *
 * SECTION 1
 *
 */

.public_section_1 {
  background-color: #2f2f2f;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1_info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.who_we_are {
  padding-top: 3rem;
  margin: 0;
  width: 100%;
}

.mission_statement {
  padding-bottom: 5rem;
  margin: 0;
  width: 100%;
}

.section1_title {
  font-size: 40px;
  font-weight: 600;
}

hr {
  left: 0;
  width: 100%;
  border: 1px solid var(--ACCENT-COLOR);
}

.section1_desc {
  margin: 0;
  width: 65%;
}

/*
 *
 * SECTION 2
 *
 */

.public_section_2 {
  position: relative;
  background-color: #181818;
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.section2_info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.founder_name {
  font-size: 20px;
  font-weight: 600;
}

.section_meet_the_team {
  margin-top: 8rem;
  margin-bottom: 1rem;
  font-size: 40px;
  font-weight: 600;
}

.section_meet_the_team p {
  text-align: center;
  margin-top: 0;
}

.public_meet_the_team {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #252423;
  margin: 0 2rem;
  width: 20%;
  padding: 2rem;
  margin-bottom: 8rem;
  text-align: center;
  box-shadow: 5px 7px 15px 0 rgba(0, 0, 0, 0.3);
}

.public_meet_the_team img {
  width: 45%;
  height: auto;
}

.founder_content {
  width: 85%;
  margin: 0 1.5rem;
}

/*
 *
 * SECTION 3
 *
 */

.public_section_3 {
  background-color: #2f2f2f;
  min-height: 105vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.public_section_3 hr {
  width: 40%;
}

.section3_title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding-top: 4rem;
  width: 45%;
}

.section3_desc {
  margin: 0;
  width: 40%;
  text-align: center;
}

/*
 *
 * TIMELINE
 *
 */

.section3_timeline {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 5rem;
  width: 60%;
}

.timeline_section {
  display: flex;
  margin: 1rem;
}
/* 
.timeline_section_animation::before {
  content: '';
  position: absolute;

  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}

.timeline_section_animation::before {
  animation: animate 3s linear forwards;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: rgba(39, 175, 199, 0.8);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: rgba(39, 175, 199, 0.8);
    border-right-color: rgba(39, 175, 199, 0.8);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: rgba(39, 175, 199, 0.8);
    border-right-color: rgba(39, 175, 199, 0.8);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

.timeline_section_animation::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}

.timeline_section_animation::after {
  animation: animates 3s linear forwards;
}

@keyframes animates {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: var(--ACCENT-COLOR);
  }

  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--ACCENT-COLOR);
    border-left-color: var(--ACCENT-COLOR);
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--ACCENT-COLOR);
    border-left-color: var(--ACCENT-COLOR);
  }
} */

.timeline_title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 20%;
  font-size: 28px;
  font-weight: 600;
  background-color: #181818;
}

.timeline_desc {
  background-color: #252423;
  margin: 0;
  padding: 1rem;
}

/*
 *
 * SECTION 4
 *
 */

.public_section_4 {
  background-color: #181818;
  min-height: 100vh;
  padding: 1rem 0 0 5rem;
}

.section4_title {
  /* padding-left: 5rem; */
  font-size: 34px;
  font-weight: 600;
}

.section4_desc {
  margin: 0;
  width: 75%;
  margin-bottom: 5rem;
}

/*
 *
 * FOOTER
 *
 */

.footer {
  background-color: var(--BGCOLOR);
  bottom: 0;
  z-index: 1;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
  color: rgb(236, 236, 236);
  font-size: 18px;
  border-top: 3px solid var(--ACCENT-COLOR);
}

/*
 *
 * ARROW ANIMATION
 *
 */

.arrows {
  width: 60px;
  height: 130px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #2994d1;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari & Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari & Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari & Chrome */
}

.arrows:hover {
  cursor: pointer;
}
