* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* COLORS */
  --BGCOLOR: #1f1e1d;
  --FONT-COLOR: rgb(231, 231, 231);
  --CARD-BGCOLOR: #2b2b2b;
  --HEAD-FOOT-COLOR: #252423;
  --ACCENT-COLOR: #27afc7;
  --OFF-WHITE: rgba(231, 231, 231, 0.9);
}

body {
  background-color: var(--BGCOLOR);
  color: var(--FONT-COLOR);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100%;
}

/*
 *
 * HEADER
 *
 */

.header_nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.header_nav a {
  text-decoration: none;
  margin: 0.5rem;
}

.header_nav p {
  display: inline;
  color: var(--FONT-COLOR);
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  background-color: var(--HEAD-FOOT-COLOR);
}

.header_underline_animation {
  display: inline-block;
  position: relative;
}

.header_underline_animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--ACCENT-COLOR);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header_underline_animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header_container {
  display: flex;
  align-items: center;
  margin: 0rem;
  padding: 2rem 6rem;
  justify-content: flex-start;
  background-color: var(--BGCOLOR);
}

#header_accent_btn p {
  background-color: var(--ACCENT-COLOR);
  color: #252423;
  border-radius: 25px;
  padding: 0.3rem 0.5rem;
  margin-left: 0;
}

#header_accent_btn p {
  transition: all 0.3s ease-in-out;
}

#header_accent_btn p:hover {
  cursor: pointer;
  background-color: var(--BGCOLOR);
  color: var(--ACCENT-COLOR);
  box-shadow: 0px 0px 10px 5px var(--ACCENT-COLOR);
}

.header_img {
  flex: 1;
}

.header_container img {
  max-width: 35%;
  height: auto;
}

@media only screen and (max-width: 1200px) {
  .header_container img {
    max-width: 100%;
    height: auto;
  }
}

/*
 *
 * MAIN CONTAINER
 *
 */

.container {
  position: relative;
  min-height: 100vh;
  color: var(--FONT-COLOR);
}

.public_main {
  border-bottom: 3px solid var(--ACCENT-COLOR);
}

/*
 *
 * MAIN CONTENT
 *
 */

.public_main_content {
  position: relative;
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-flow: column;
}

#company_name {
  font-size: 90px;
  margin-bottom: 5rem;
  margin-top: 11rem;
}

#company_name span:nth-child(6) {
  color: var(--ACCENT-COLOR);
  text-shadow: 1px 1px 10px var(--ACCENT-COLOR);
  box-shadow: 0px 0px 10px 5px var(--ACCENT-COLOR);
  transition: all 0.3s ease-in-out;
}

#company_name span:nth-child(6):hover {
  text-shadow: 0px 0px 0px var(--ACCENT-COLOR);
  box-shadow: 0px 0px 0px 0px var(--ACCENT-COLOR);
}

#company_name span {
  text-align: center;
  padding: 0 0.2rem;
  margin: 0 0.2rem;
  background: var(--BGCOLOR);
  color: var(--FONT-COLOR);
  box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
}

#company_name span:hover {
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0);
}

.public_main_btns {
  margin-bottom: 8rem;
}

.public_main_btns a {
  padding: 0.6rem 1rem;
  margin: 0 1rem;
  background-color: var(--ACCENT-COLOR);
  text-decoration: none;
  border: none;
  border-radius: 25px;
  color: var(--BGCOLOR);
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
}

.public_main_btns a:hover {
  cursor: pointer;
  background-color: var(--BGCOLOR);
  color: var(--ACCENT-COLOR);
  box-shadow: 0px 0px 10px 5px var(--ACCENT-COLOR);
}

.founder_quote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote_img {
  width: 15%;
  padding-right: 2rem;
}

.founder_quote img {
  width: 100%;
  height: auto;
}

.founder_quote_content {
  font-size: 20px;
  width: 40%;
  padding-left: 2rem;
  border-left: 3px solid var(--OFF-WHITE);
}

.founder_quote p:nth-child(1) {
  font-family: 'Merriweather', serif;
}

.founder_quote p:nth-child(2) {
  font-size: 16px;
}

/*
 *
 * SECTION 1
 *
 */

.public_section_1 {
  background-color: #2f2f2f;
  min-height: 40vh;
}

.who_we_are {
  padding-left: 10rem;
  padding-top: 5rem;
  margin: 0;
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.mission_statement {
  padding-left: 10rem;
  padding-bottom: 5rem;
  margin: 0;
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.section1_title {
  font-size: 34px;
  font-weight: 600;
}

hr {
  left: 0;
  width: 100%;
  border: 1px solid var(--ACCENT-COLOR);
}

.section1_desc {
  margin: 0;
  width: 65%;
}

/*
 *
 * SECTION 2
 *
 */

.public_section_2 {
  padding: 1rem 0 2rem 5rem;
  margin: 0;
  position: relative;
  background-color: #181818;
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-flow: column;
}

.founder_name {
  font-size: 20px;
  font-weight: 600;
}

.section_meet_the_team {
  font-size: 34px;
  font-weight: 600;
}

.public_meet_the_team {
  display: flex;
  background-color: #252423;
  width: 75%;
  padding: 1rem;
  margin: 1rem 0;
}

.public_meet_the_team img {
  width: 25%;
  height: auto;
}

.founder_content {
  width: 90%;
  margin: 0 1.5rem;
}

/*
 *
 * SECTION 3
 *
 */

.public_section_3 {
  background-color: #2f2f2f;
  min-height: 125vh;
  padding: 1rem 0 0 5rem;
}

.section3_title {
  /* padding-left: 5rem; */
  font-size: 34px;
  font-weight: 600;
}

.section3_desc {
  margin: 0;
  width: 75%;
  margin-bottom: 5rem;
}

/*
 *
 * TIMELINE
 *
 */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline {
  height: 300px;
  width: 5px;
  background-color: #e5e5e5;
}

.circle {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--FONT-COLOR);
  border-radius: 50%;
  background-color: #e5e5e5;
}

.circleWrapper {
  position: relative;
}

.message {
  position: absolute;
  top: 20%;
  left: 50%;
  min-width: 150px;

  font-weight: bold;
  margin-left: 2rem;
}

/*
 *
 * SECTION 4
 *
 */

.public_section_4 {
  background-color: #181818;
  min-height: 100vh;
  padding: 1rem 0 0 5rem;
}

.section4_title {
  /* padding-left: 5rem; */
  font-size: 34px;
  font-weight: 600;
}

.section4_desc {
  margin: 0;
  width: 75%;
  margin-bottom: 5rem;
}

/*
 *
 * FOOTER
 *
 */

.footer {
  background-color: var(--BGCOLOR);
  bottom: 0;
  z-index: 1;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
  color: rgb(236, 236, 236);
  font-size: 18px;
  border-top: 3px solid var(--ACCENT-COLOR);
}

/*
 *
 * ARROW ANIMATION
 *
 */

.arrows {
  width: 60px;
  height: 130px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #2994d1;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari & Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari & Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari & Chrome */
}

.arrows:hover {
  cursor: pointer;
}
